@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-basement: #10131a;
    --dark-background: #141820;
    --dark-first: #1a212d;
    --dark-second: #1d2736;
    --dark-third: #212d3f;

    --light-basement: #b6bbcc;
    --light-background: #e6e8ef;
    --light-first: #f6f7f8;
    --light-second: #fbfbfb;
    --light-third: #ffffff;

    --corporate: #008fec;
    --xp: #9013fe;
    --warning: #fc4d64;
    --success: #3ebd41;
    --attention: #f3ad38; 

    --text-light: #f6f7f8;
    --text-dark: #080808;

    --pink: #cd317c;
}