@import "tailwindcss";

:root {
    --dark-basement: #10131a;
    --dark-background: #141820;
    --dark-first: #1a212d;
    --dark-second: #1d2736;
    --dark-third: #212d3f;

    --light-basement: #b6bbcc;
    --light-background: #e6e8ef;
    --light-first: #f6f7f8;
    --light-second: #fbfbfb;
    --light-third: #ffffff;

    --corporate: #008fec;
    --xp: #9013fe;
    --warning: #fc4d64;
    --success: #3ebd41;
    --attention: #f3ad38;

    --text-light: #f6f7f8;
    --text-dark: #080808;

    --pink: #cd317c;
}

body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: calc(100% - 50px);
}